$dark-grey : #555;
$light-grey : #EEE;
$white : #EEE;
$bs-primary : rgb(0,123,255);
$bs-secondary : rgb(134,142,150);
$bs-success : rgb(40, 167, 69);
$bs-danger : rgb(220,53,69);
$bs-warning : rgb(255,193,7);
$bs-info : rgb(23,162,184);
$bs-dark : rgb(52,58,64);


$raleway : 'Raleway', sans-serif;
